* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* AHMED's PART */
nav {
    display: flex;
    gap: 500px;
    padding-top: 20px;
    align-items: center;
}

nav section {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav section .links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

nav a {
    color: #6D48E5;
}
.links a {
    color: #6B7782;
}

nav section button {
    border: none;
    background-color: #6D48E5;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 7px 10px 7px 10px;
}



/* farticle */
.farticle {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 70px;
}

.farticle .multi,
.farticle .multi div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.farticle section img {
    width: 800px;
}

.farticle .multi div h2 {
    font-size: 35px;
}

.farticle .multi div p {
    color: #6B7782;
    font-size: 18px;
}

.farticle section button {
    border: none;
    background-color: #6D48E5;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 9px 30px 9px 30px;
}

.farticle .programmes img {
    width: 150px;
}



/* AMAL PART */
.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.better {
    padding-top: 5vh;
    text-align: center;
    width: 50vw;
}

.dynamic {
    display: flex;
    gap: 3vw;
}

.charts,
.mobile {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3,
h2 {
    padding-bottom: 3vh;
}

.better p {
    color: gray;
    line-height: 4vh;
}

.charts p {
    color: gray;
    line-height: 4vh;
}

.analytics p {
    color: gray;
    line-height: 4vh;
}

a {
    padding-top: 3vh;
    text-decoration: none;
    color: gray;
    position: relative;
}

.a::after {
    content: '';
    position: absolute;
    background: gray;
    width: 3vw;
    height: 1px;
    top: 6vh;
    left: 0;
}

.analytics {
    display: flex;
    gap: 3vw;
}








@media (max-width:767px){
    .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vw;
    }
    .farticle img{
        width: 330px;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vw;
    }
    .farticle .multi div h2,  .better h2, .charts h3 {
        font-size: 20px;
    }
    .farticle .multi div p,  .better p .charts p{
        color: #6B7782;
        font-size: 10px;
        width: 80vw;
        text-align: center;
        line-height: 17px;
    }
    h3, h2 {
        padding-bottom: unset;
    }
    .farticle .programmes img {
        width: 150px;
    }
    .programmes{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    .better, .charts, .mobile {
        padding-top: 5vh;
        text-align: center;
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .dynamic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .charts{
        text-align: center;
        width: 80vw;
    }
    a {
        padding-top: unset;
        position: relative;
    }
    .a::after {
        content: '';
        position: absolute;
        background: gray;
        width: 13vw;
        height: 1px;
        top: 3vh;
        left: 118px;
    }
    .analytics{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .mobile{
        margin-bottom: 20vh;
    }
    
    
}

