* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navbare */
nav {
    display: flex;
    gap: 500px;
    padding-top: 20px;
    align-items: center;
}

nav section {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav section .links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

nav a {
    color: #6D48E5;
}

.links a {
    color: #6B7782;
}

nav section button {
    border: none;
    background-color: #6D48E5;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 7px 10px 7px 10px;
}



/* farticle */
.farticle {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 70px;
}

.farticle .multi,
.farticle .multi div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.farticle section img {
    width: 800px;
}

.farticle .multi div h2 {
    font-size: 35px;
}

.farticle .multi div p {
    color: #6B7782;
    font-size: 18px;
}

.farticle section button {
    border: none;
    background-color: #6D48E5;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 9px 30px 9px 30px;
}

.farticle .programmes img {
    width: 150px;
}